{% set almanach = attribute(almanach, framework) %}
{% set class = class is defined ? class : [] %}
{% set attr = attr is defined ? attr : {} %}

{% set classComponent = class|merge([
    'alert',
    attribute(almanach.alert.theme, theme),
    attribute(almanach.alert.border, border)
]) %}

{% set attr = attr|merge({
    role: "alert"
}) %}

<div {% include 'AlmanachBundle:bricks/global:attributes.html.twig' with {
        class: classComponent,
        attributes: attr
    } only %}
>
    {{ almanach_button(
        almanach_inlineText(
            '&times;',
            framework, {
                inline: 'default',
                attr: {
                    'aria-hidden': 'true'
                }
            }),
        framework, {
        class: [
            'close'
        ],
        attr: {
            type: 'button',
            'data-dismiss': 'alert',
            'aria-label': 'Close',
        },
        tag: 'button',
    }) }}
    {% block content %}
        {{ content|raw }}
    {% endblock %}
</div>


