{#Class par défault pour cette feature : #}
{% set almanach = attribute(almanach, framework) %}
{% set classes = [
    "alert",
    attribute(almanach.alert.theme, theme),
    attribute(almanach.alert.border, border)
] %}

{#Fonction permettant de merge des class créées aux classes de base de la features : #}
{% if class is defined %}
    {% set classes = classes|merge(class) %}
{% endif %}

{#Attributs par défault pour cette feature : #}
{% set defaultAttributes = {
    "role": "alert",
    'class': classes|join(' ')
} %}
{% set link = link|default('#') %}
{% if tag == 'a' %}
    {% set link = {href: link} %}
    {% set defaultAttributes = defaultAttributes|merge(link) %}
{% endif %}

{#Fonction permettant de fusionner des attributs crées aux attributs de base de la features : #}
{% if attributes is defined %}
    {% set defaultAttributes = defaultAttributes|merge(attributes) %}
{% endif %}

{#Markup de base de cette feature pour BOOTSTRAP : #}
<div
    {% for attr, value in defaultAttributes %}
        {{ attr }}="{{ value|e("html_attr") }}"
        {% if not loop.last %}{% endif %}
    {% endfor %}
>
    {{ almanach_button(
        almanach_inlineText(
            '&times;',
            framework,
            'default',
            [],
            {
                'aria-hidden': 'true'
            }),
        framework,
        'default',
        'default',
        'default',
        'default',
        ['close'],
        {
            'type': 'button',
            'data-dismiss' : 'alert',
            'aria-label' : 'Close'
        },
        'button'
    ) }}
    {% block content %}
        {{ content|raw }}
    {% endblock %}
</div>

