{% set almanach = attribute(almanach, framework) %}
{% set classes = classes is defined ? classes : [] %}
{% set attributes = attributes is defined ? attributes : {} %}

{% set classes = classes|merge([
    "alert",
    attribute(almanach.alert.theme, theme),
    attribute(almanach.alert.border, border)
]) %}

{% set attributes = attributes|merge({
    "role": "alert"
}) %}

<div {% include 'AlmanachBundle:bricks/global:attributes.html.twig' with {
        classes: classes,
        attributes: attributes
    } only %}
>
    {{ almanach_button(
        almanach_inlineText(
            '&times;',
            framework,
            'default',
            [],
            {
                'aria-hidden': 'true'
            }),
        framework,
        'default',
        'default',
        'default',
        'default',
        ['close'],
        {
            'type': 'button',
            'data-dismiss' : 'alert',
            'aria-label' : 'Close'
        },
        'button'
    ) }}
    {% block content %}
        {{ content|raw }}
    {% endblock %}
</div>

