<h3><b>Container Fluid</b></h3>
<h4>+ Use</h4>
<ul>
    <li>
        <b>with twig extension:</b>
        {% spaceless %}
            <pre>
                {{- "{{ alamanach_containerFluid($content, $framework, $classContFluid = 'contFluid', $class = [], $attr = [], $tag = null, $link = null) }}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        <b>with twig embed:</b>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_button.html.twig' with {content: content, framework: framework, ... } only %}
    {% block content %}
        {# content #}
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
</ul>
<br><h4>+ parameters:</h4>
<ul>
    <li>
        <b>content</b>: content of your container Fluid.
    </li>
    <li>
        <b>framework</b>: framework you are using.
        <ul>
            <li>bootstrap</li>
            <li>foundation</li>
        </ul>
    </li>
    <li>
        <b>classContFluid</b>: classContFluid of your container Fluid.
        <ul>
            <li>contFluid</li>
        </ul>
</ul>
<h4>+ example</h4>
<ul style="list-style-type: none">
    <li>
        {{ almanach_containerFluid( 'My Fluid container', framework) }}

        {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_containerFluid.html.twig' with {framework: framework, classContFluid: 'contFluid'} only %}
            {% block content %}
                My Fluid container
            {% endblock %}
        {% endembed %}
    </li>
</ul>
