<h3><b>Grid</b></h3>
<h4>- Use</h4>
<h4>The grid is composed of the global grid + the grid item</h4>
<ul>
    <li>
        <b>with twig extension:</b>
        {% spaceless %}
            <pre>
                {{- "{{ alamanach_grid($content, $framework, $class_component = [], $attr_component = [], $tag = null, $link = null) }}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        <b>with twig embed:</b>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_grid.html.twig' with {content: content, framework: framework, ... } only %}
    {% block content %}
        {# content #}
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
</ul>
<br><h4>- parameters:</h4>
<ul>
    <li>
        <b>content</b>: content of your grid.
    </li>
    <li>
        <b>framework</b>: framework you are using.
        <ul>
            <li>bootstrap</li>
            <li>foundation</li>
        </ul>
    </li>
    <li>
        <b>classGridItem</b>: classGridItem of your grid item.
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </li>
</ul>
<h4>- example</h4>

<ul style="list-style-type: none">
    <li>
        {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_grid.html.twig' with {framework: framework} only %}
            {% block contentGrid %}
                {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_gridItem.html.twig' with {framework: framework, classGridItem: 'lg2'} only %}
                    {% block contentGridItem %}
                        Div 1
                    {% endblock %}
                {% endembed %}
                {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_gridItem.html.twig' with {framework: framework, classGridItem: 'lg2'} only %}
                    {% block contentGridItem %}
                        Div 2
                    {% endblock %}
                {% endembed %}
                {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_gridItem.html.twig' with {framework: framework, classGridItem: 'lg2'} only %}
                    {% block contentGridItem %}
                        Div 3
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    </li>
    <li>
        {{ almanach_grid([
            almanach_gridItem('Div 1', framework, {
                classGridItem:'sm4'
            }),
            almanach_gridItem('Div 1', framework, {
                classGridItem:'sm4'
            }),
            almanach_gridItem('Div 1', framework, {
                classGridItem: 'sm4'
            }),
        ],
        framework
        ) }}
    </li>
</ul>
