<table class="flat-table">
    <tbody>
    <tr>
        <th class="flat-table-th"><b>FEATURES<br>(Name)</b></th>
        <th class="flat-table-th"><b>BOOTSTRAP<br>(Présence)</b></th>
        <th class="flat-table-th"><b>FOUNDATION<br>(Présence)</b></th>
        <th class="flat-table-th"><b>TWIG EMBED<br>(Management)</b></th>
        <th class="flat-table-th"><b>TWIG EXTENSION<br>(Management)</b></th>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Container :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Container-fluid :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>

    </tr>
    <tr>
        <td class="flat-table-td"><b>Heading :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>

    </tr>
    <tr>
        <td class="flat-table-td"><b>Sub-heading :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>

    </tr>
    <tr>
        <td class="flat-table-td"><b>Title :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>

    </tr>
    <tr>
        <td class="flat-table-td"><b>Transform text :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-times"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>

    </tr>
    <tr>
        <td class="flat-table-td"><b>Alignment Text :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>

    </tr>
    <tr>
        <td class="flat-table-td"><b>Inline Text :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>

    </tr>
    <tr>
        <td class="flat-table-td"><b>Label :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>

    </tr>
    <tr>
        <td class="flat-table-td"><b>Alert :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>

    </tr>
    <tr>
        <td class="flat-table-td"><b>Button :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>

    </tr>
    <tr>
        <td class="flat-table-td"><b>Dropdown Butonn :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>

    </tr>
    <tr>
        <td class="flat-table-td"><b>Split Dropdown Button :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>

    </tr>
    <tr>
        <td class="flat-table-td"><b>Button Group :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>

    </tr>
    <tr>
        <td class="flat-table-td"><b>Heading + Element :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-times"></i></td>

    </tr>
    <tr>
        <td class="flat-table-td"><b>List :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>

    </tr>
    <tr>
        <td class="flat-table-td"><b>Tab :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-times"></i></td>
        <td class="flat-table-td"><i class="fa fa-times"></i></td>

    </tr>
    <tr>
        <td class="flat-table-td"><b>Grid :</b></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>
        <td class="flat-table-td"><i class="fa fa-check"></i></td>

    </tr>
    </tbody>
</table>
