<h3><b><i>Tab</i></b></h3>
<h4><b>- Global use :</b></h4>
<h4>The tab is composed of the tabTitle + tabContent :</h4>
<ul>
    <li>
        <b>with twig extension:</b>
        {% spaceless %}
            <pre>
                {{- "{{ alamanach_tab($content, $framework, $theme = 'default', $style = 'default', $class = [], $attr = [], $tag = null, $link = null) }}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        <b>with twig embed:</b>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tab.html.twig' with {content: content, framework: framework, ... } only %}
    {% block content %}
        {# content #}
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
</ul>
<h4><b>- Table of parameters :</b></h4>
<ul>
    <li>
        <b>content</b>: content of your tab.
    </li>
    <li>
        <b>framework</b>: framework you are using.
        <ul>
            <li>bootstrap</li>
            <li>foundation</li>
        </ul>
    </li>
    <li>
        <b>theme</b>: theme of your list.
        <ul>
            <li>default</li>
            <li>tab</li>
            <li>pill</li>
        </ul>
    </li>
    <li>
        <b>style</b>: style of your list.
        <ul>
            <li>default</li>
            <li>vertical</li>
            <li>justify</li>
        </ul>
    </li>
</ul>

<h4><b>- Table of parameters :</b></h4>
<table class="flat-table">
    <tbody>
    <tr>
        <th class="flat-table-th"><b>PARAMETERS</b></th>
        <th class="flat-table-th"><b>POTENTIAL</b></th>
        <th class="flat-table-th"><b>DESCRIPTION</b></th>
    </tr>
    <tr>
        <td class="flat-table-td"><b>ContentList :</b></td>
        <td class="flat-table-td"><i>"String" or Another twig extension</i></td>
        <td class="flat-table-td"><i>Content of your List</i></td>
    </tr>
    <tr>
        <td class="flat-table-td"><b>ContentListItem :</b></td>
        <td class="flat-table-td"><i>"String" or Another twig extension</i></td>
        <td class="flat-table-td"><i>Content of your List Item</i></td>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Framework :</b></td>
        <td class="flat-table-td"><i>Bootstrap / Foundation</i></td>
        <td class="flat-table-td"><i>The framework that you want to use</i></td>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Order :</b></td>
        <td class="flat-table-td">
            <ul style="list-style-type: none; padding: 0;">
                <li><i>default</i></li>
                <li><i>ordered</i></li>
                <li><i>unordered</i></li>
            </ul>
        </td>
        <td class="flat-table-td"><i>Order of your List</i></td>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Decoration :</b></td>
        <td class="flat-table-td">
            <ul style="list-style-type: none; padding: 0;">
                <li><i>default</i></li>
                <li><i>inline</i></li>
                <li><i>unstyled</i></li>
                <li><i>disc</i></li>
                <li><i>square</i></li>
                <li><i>circle</i></li>
                <li><i>nothing</i></li>
            </ul>
        </td>
        <td class="flat-table-td"><i>Decoration of your List</i></td>
    </tr>
    </tbody>
</table>

<h4><b>- Rendering example :</b></h4>
<ul style="list-style-type: none; padding: 0;">
    <li>
        {#{{ almanach_tab([#}
            {#almanach_tabTitle(#}
                {#'Title1',#}
                {#framework, {#}
                    {#state: 'active',#}
                    {#link: 'test1'#}
                {#}),#}
            {#almanach_tabTitle(#}
                {#'Title2',#}
                {#framework, {#}
                    {#link: 'test2'#}
                {#}),#}
            {#almanach_tabTitle(#}
                {#'Title3',#}
                {#framework, {#}
                    {#link: 'test3'#}
                 {#})#}
            {#],#}
            {#[almanach_tabContent(#}
                {#'Content1',#}
                {#framework, {#}
                    {#state: 'active',#}
                    {#attr: {#}
                        {#id: 'test1'#}
                    {#}#}
                {#}),#}
            {#almanach_tabContent(#}
                {#'Content2',#}
                {#framework, {#}
                    {#attr: {#}
                        {#id: 'test2'#}
                    {#}#}
                {#}),#}
            {#almanach_tabContent(#}
                {#'Content3',#}
                {#framework, {#}
                    {#attr: {#}
                        {#id: 'test3'#}
                    {#}#}
                {#})#}
            {#],#}
            {#framework)#}
        {#}}#}
    </li>
    <li>
        {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tab.html.twig' with {framework: framework, tabId: 'tab1'} only %}
            {% block tabTitles %}
                {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabTitle.html.twig' with {content: 'TITRE 1', framework: framework, control: 'testA', class: ['active']} only %}
                    {#{% block content %}#}
                        {#TITRE TEST A#}
                    {#{% endblock %}#}
                {% endembed %}
                {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabTitle.html.twig' with {content: 'TITRE 2', framework: framework, control: 'testB'} only %}
                    {#{% block content %}#}
                        {#TITRE TEST B#}
                    {#{% endblock %}#}
                {% endembed %}
                {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabTitle.html.twig' with {content: 'TITRE 3', framework: framework, control: 'testC'} only %}
                    {#{% block content %}#}
                        {#TITRE TEST C#}
                    {#{% endblock %}#}
                {% endembed %}
            {% endblock %}
            {% block tabContent %}
                {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabContent.html.twig' with {content: 'Content 1', framework: framework, id: 'testA', class: ['active']} only %}
                    {#{% block content %}#}
                        {#CONTENU TEST A#}
                    {#{% endblock %}#}
                {% endembed %}
                {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabContent.html.twig' with {content: 'Content 2', framework: framework, id: 'testB'} only %}
                    {#{% block content %}#}
                        {#CONTENU TEST B#}
                    {#{% endblock %}#}
                {% endembed %}
                {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabContent.html.twig' with {content: 'Content 3', framework: framework, id: 'testC'} only %}
                    {#{% block content %}#}
                        {#CONTENU TEST C#}
                    {#{% endblock %}#}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    </li>
</ul>
<hr><br>


