<h3><b>Tab</b></h3>
<h4>- Use</h4>
<h4>The tab is composed of the global tab + the tab item, so we will see the usage for the tab and the tab item, then the </h4>
<ul>
    <li>
        <b>with twig extension:</b>
        {% spaceless %}
            <pre>
                {{- "{{ alamanach_tab($content, $framework, $theme = 'default', $style = 'default', $class = [], $attr = [], $tag = null, $link = null) }}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        <b>with twig embed:</b>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tab.html.twig' with {content: content, framework: framework, ... } only %}
    {% block content %}
        {# content #}
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
</ul>
<br><h4>- parameters:</h4>
<ul>
    <li>
        <b>content</b>: content of your tab.
    </li>
    <li>
        <b>framework</b>: framework you are using.
        <ul>
            <li>bootstrap</li>
            <li>foundation</li>
        </ul>
    </li>
    <li>
        <b>theme</b>: theme of your list.
        <ul>
            <li>default</li>
            <li>tab</li>
            <li>pill</li>
        </ul>
    </li>
    <li>
        <b>style</b>: style of your list.
        <ul>
            <li>default</li>
            <li>vertical</li>
            <li>justify</li>
        </ul>
    </li>
</ul>

<h4>- example</h4>
<ul style="list-style-type: none">
    <li>
        {{ almanach_tab([
            almanach_tabTitle(
                'Title1',
                framework, {
                    state: 'active',
                    link: 'test1'
                }),
            almanach_tabTitle(
                'Title2',
                framework, {
                    link: 'test2'
                }),
            almanach_tabTitle(
                'Title3',
                framework, {
                    link: 'test3'
                 })
            ],
            [almanach_tabContent(
                'Content1',
                framework, {
                    state: 'active',
                    attr: {
                        id: 'test1'
                    }
                }),
            almanach_tabContent(
                'Content2',
                framework, {
                    attr: {
                        id: 'test2'
                    }
                }),
            almanach_tabContent(
                'Content3',
                framework, {
                    attr: {
                        id: 'test3'
                    }
                })
            ],
            framework)
        }}
    </li>
    <li>
        {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tab.html.twig' with {framework: framework, tabId: 'tab1'} only %}
            {% block tabTitles %}
                {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabTitle.html.twig' with {content: 'TITRE 1', framework: framework, control: 'testA', class: ['active']} only %}
                    {#{% block content %}#}
                        {#TITRE TEST A#}
                    {#{% endblock %}#}
                {% endembed %}
                {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabTitle.html.twig' with {content: 'TITRE 2', framework: framework, control: 'testB'} only %}
                    {#{% block content %}#}
                        {#TITRE TEST B#}
                    {#{% endblock %}#}
                {% endembed %}
                {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabTitle.html.twig' with {content: 'TITRE 3', framework: framework, control: 'testC'} only %}
                    {#{% block content %}#}
                        {#TITRE TEST C#}
                    {#{% endblock %}#}
                {% endembed %}
            {% endblock %}
            {% block tabContent %}
                {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabContent.html.twig' with {content: 'Content 1', framework: framework, id: 'testA', class: ['active']} only %}
                    {#{% block content %}#}
                        {#CONTENU TEST A#}
                    {#{% endblock %}#}
                {% endembed %}
                {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabContent.html.twig' with {content: 'Content 2', framework: framework, id: 'testB'} only %}
                    {#{% block content %}#}
                        {#CONTENU TEST B#}
                    {#{% endblock %}#}
                {% endembed %}
                {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabContent.html.twig' with {content: 'Content 3', framework: framework, id: 'testC'} only %}
                    {#{% block content %}#}
                        {#CONTENU TEST C#}
                    {#{% endblock %}#}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    </li>
    {#<li>#}
        {#{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tab.html.twig' with {framework: framework, tabId: 'tab2'} only %}#}
            {#{% block tabTitles %}#}
                {#{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabTitle.html.twig' with {content: 'TITRE 1', framework: framework, control: 'test1', class: ['active']} only %}#}
                    {#&#123;&#35;{% block content %}&#35;&#125;#}
                        {#&#123;&#35;TITRE TEST 1&#35;&#125;#}
                    {#&#123;&#35;{% endblock %}&#35;&#125;#}
                {#{% endembed %}1#}
                {#{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabTitle.html.twig' with {content: 'TITRE 2', framework: framework, control: 'test2'} only %}#}
                    {#&#123;&#35;{% block content %}&#35;&#125;#}
                        {#&#123;&#35;TITRE TEST 2&#35;&#125;#}
                    {#&#123;&#35;{% endblock %}&#35;&#125;#}
                {#{% endembed %}#}
                {#{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabTitle.html.twig' with {content: 'TITRE 3', framework: framework, control: 'test3'} only %}#}
                    {#&#123;&#35;{% block content %}&#35;&#125;#}
                        {#&#123;&#35;TITRE TEST 3&#35;&#125;#}
                    {#&#123;&#35;{% endblock %}&#35;&#125;#}
                {#{% endembed %}#}
            {#{% endblock %}#}
            {#{% block tabContent %}#}
                {#{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabContent.html.twig' with {content: 'Content 1', framework: framework, id: 'test1', class: ['active']} only %}#}
                    {#&#123;&#35;{% block content %}&#35;&#125;#}
                        {#&#123;&#35;CONTENU TEST 1&#35;&#125;#}
                    {#&#123;&#35;{% endblock %}&#35;&#125;#}
                {#{% endembed %}#}
                {#{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabContent.html.twig' with {content: 'Content 2', framework: framework, id: 'test2'} only %}#}
                    {#&#123;&#35;{% block content %}&#35;&#125;#}
                        {#&#123;&#35;CONTENU TEST 2&#35;&#125;#}
                    {#&#123;&#35;{% endblock %}&#35;&#125;#}
                {#{% endembed %}#}
                {#{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_tabContent.html.twig' with {content: 'Content 3', framework: framework, id: 'test3'} only %}#}
                    {#&#123;&#35;{% block content %}&#35;&#125;#}
                        {#&#123;&#35;CONTENU TEST A3&#35;&#125;#}
                    {#&#123;&#35;{% endblock %}&#35;&#125;#}
                {#{% endembed %}#}
            {#{% endblock %}#}
        {#{% endembed %}#}
    {#</li>#}
</ul>
