{% extends "AlmanachBundle::#{framework}.html.twig" %}

{% block content %}
    {#CONTENT#}
    {% embed "AlmanachBundle:bricks:#{framework}/_container.html.twig" %}
        {% block contentContainer %}
            {{ almanach_heading(
                almanach_alignmentText(
                    almanach_inlineText(
                        almanach_inlineText(
                        framework|capitalize ~ '\'s Almanach documentation',
                        {
                            inline: 'italic'
                        }),
                    {
                        inline: 'bold'
                    }),
                    {
                        alignment: 'center'
                    }),
                {
                    size: 'h1'
                })
            }}
            <h2><b>Basic feature :</b></h2>
            {% include "AlmanachBundle:doc:_container.html.twig" %}
            {% include "AlmanachBundle:doc:_containerFluid.html.twig" %}
            {% include "AlmanachBundle:doc:_heading.html.twig" %}
            {% include "AlmanachBundle:doc:_transformText.html.twig" %}
            {% include "AlmanachBundle:doc:_alignmentText.html.twig" %}
            {% include "AlmanachBundle:doc:_inlineText.html.twig" %}
            {% include "AlmanachBundle:doc:_label.html.twig" %}
            {% include "AlmanachBundle:doc:_alert.html.twig" %}
            {% include "AlmanachBundle:doc:_button.html.twig" %}
            {% include "AlmanachBundle:doc:_dropdownButton.html.twig" %}
            {% include "AlmanachBundle:doc:_splitDropdownButton.html.twig" %}
            {% include "AlmanachBundle:doc:_buttonGroup.html.twig" %}
            <h2><b>Composed features (Needs nesting) :</b></h2>
            {% include "AlmanachBundle:doc:_headingAndElement.html.twig" %}
            {% include "AlmanachBundle:doc:_list.html.twig" %}
            {% include "AlmanachBundle:doc:_tab.html.twig" %}
            {% include "AlmanachBundle:doc:_grid.html.twig" %}
            <h2><b>Inventory Almanach :</b></h2>
            {% include "AlmanachBundle:doc:_inventoryOfAlmanach.html.twig" %}

            <style>
                .flat-table {
                    font-family: sans-serif;
                    -webkit-font-smoothing: antialiased;
                    font-size: 100%;
                    overflow: auto;
                    width: 100%;
                }
                .flat-table .flat-table-th {
                        background-color: rgb(112, 196, 105);
                        color: white;
                        font-weight: normal;
                        padding: 20px 30px;
                        text-align: center;
                        border: 2px solid white;
                }
                .flat-table .flat-table-td {
                        background-color: rgb(238, 238, 238);
                        color: rgb(111, 111, 111);
                        padding: 5px 10px;
                        text-align: center;
                        border: 2px solid white;
                }
            </style>
        {% endblock %}
    {% endembed %}
{% endblock content %}

{% block javascript %}
    {#JAVASCRIPT#}
{% endblock javascript %}
