{% set almanach = attribute(almanach, framework) %}
{% set class = class is defined ? class : [] %}
{% set attr = attr is defined ? attr : {} %}

{% set classComponent = class|merge([
    "alert-box",
    attribute(almanach.alert.theme, theme),
    attribute(almanach.alert.border, border)
]) %}

{% set attr = attr|merge({
    'data-alert': ''
}) %}

<div {% include 'AlmanachBundle:bricks/global:attributes.html.twig' with {
        class: classComponent,
        attributes: attr
    } only %}
>
    {% block contentAlert %}
        {{ contentAlert|raw }}
    {% endblock %}
    <a href="#" class="close">&times;</a>
</div>

