{% set almanach = attribute(almanach, framework) %}
{% set classes = classes is defined ? classes : [] %}
{% set attributes = attributes is defined ? attributes : {} %}

{% set classes = classes|merge([
    "alert-box",
    attribute(almanach.alert.theme, theme),
    attribute(almanach.alert.border, border)
]) %}

{% set attributes = attributes|merge({
    'data-alert': ''
}) %}

<div {% include 'AlmanachBundle:bricks/global:attributes.html.twig' with {
        classes: classes,
        attributes: attributes
    } only %}
>
    {% block content %}
        {{ content|raw }}
    {% endblock %}
    <a href="#" class="close">&times;</a>
</div>
