{% set almanach = attribute(almanach, framework) %}
{% set class = class is defined ? class : [] %}
{% set attr = attr is defined ? attr : {} %}
{% set tag = tag|default('ul') %}

{% set classComponent = class|merge([
    "button-group",
    attribute(almanach.buttonGroup.theme, theme),
    attribute(almanach.buttonGroup.size, size),
    attribute(almanach.buttonGroup.state, state),
    attribute(almanach.buttonGroup.border, border),
    attribute(almanach.buttonGroup.group, group)
]) %}

<{{ tag }}
    {% include 'AlmanachBundle:bricks/global:attributes.html.twig' with {
        class: classComponent,
        attr: attr
    } only %}
>
    {% block contentButtonGroup %}
        {% for item in contentButtonGroup %}
            <li>{{ item|raw }}</li>
        {% endfor %}
    {% endblock %}
</{{ tag }}>
