{% set almanach = attribute(almanach, framework) %}
{% set class = class is defined ? class : [] %}
{% set attr = attr is defined ? attr : {} %}
{% set link = link|default('#') %}
{% set tag = tag|default('button') %}

{% set classComponent = class|merge([
    'button',
    'dropdown',
    attribute(almanach.dropdownButton.theme, theme),
    attribute(almanach.dropdownButton.size, size),
    attribute(almanach.dropdownButton.state, state),
    attribute(almanach.dropdownButton.border, border)
]) %}

{% set attr = attr|merge({
    'data-dropdown': 'drop',
    'aria-controls': 'drop',
    'aria-expanded': 'false'
}) %}

{% if tag == 'a' %}
    {% set link = {href: link} %}
    {% set attr = attr|merge(link) %}
{% endif %}

<{{ tag }}
    {% include 'AlmanachBundle:bricks/global:attributes.html.twig' with {
        class: classComponent,
        attributes: attr
    } only %}
>
    {% block contentDropdownButton %}
        {{ contentDropdownButton|raw }}
    {% endblock %}
</{{ tag }}>
<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
</ul>

