{% set almanach = attribute(almanach, framework) %}
{% set classes = classes is defined ? classes : [] %}

<li {% include 'AlmanachBundle:bricks/global:attributes.html.twig' with {
        classes: classes
    } only %}
>
    {% block content %}
        {{ content|raw }}
    {% endblock %}
</li>
