{% set almanach = attribute(almanach, framework) %}
{% set class = class is defined ? class : [] %}
{% set attr = attr is defined ? attr : {} %}

<li {% include 'AlmanachBundle:bricks/global:attributes.html.twig' with {
        class: class,
        attributes: attr
    } only %}
>
    {% block content %}
        {{ content|raw }}
    {% endblock %}
</li>

