{% set almanach = attribute(almanach, framework) %}
{% set class = class is defined ? class : [] %}
{% set attr = attr is defined ? attr : {} %}
{% set link = link|default('#') %}
{% set tag = tag|default('a') %}

{% set classComponent = class|merge([
    'button',
    'split',
    'dropdown',
    attribute(almanach.dropdownButton.theme, theme),
    attribute(almanach.dropdownButton.size, size),
    attribute(almanach.dropdownButton.state, state),
    attribute(almanach.dropdownButton.border, border)
]) %}

{% if tag == 'a' %}
    {% set link = {href: link} %}
    {% set attr = attr|merge(link) %}
{% endif %}

<{{ tag }}
    {% include 'AlmanachBundle:bricks/global:attributes.html.twig' with {
        class: classComponent,
        attributes: attr
    } only %}
>
    {% block contentSplitDropdownButton %}
        {{ contentSplitDropdownButton|raw }}
    {% endblock %}
    <span data-dropdown="drop"></span>
</{{ tag }}>
<ul id="drop" class="f-dropdown" data-dropdown-content>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
</ul>
