{% set almanach = attribute(almanach, framework) %}
{% set tabClasses = tabClasses is defined ? tabClasses : [] %}
{% set tabAttributes = tabAttributes is defined ? tabAttributes : {} %}
{% set contentClasses = contentClasses is defined ? contentClasses : [] %}

{% set tabClasses = tabClasses|merge([
    'tabs',
    attribute(almanach.tab.theme, theme is defined ? theme : 'default'),
    attribute(almanach.tab.style, style is defined ? style : 'default')
]) %}

{% set tabAttributes = tabAttributes|merge({
    'data-tab': ''
}) %}

{% set contentClasses = contentClasses|merge([
    'tabs-content'
]) %}

<ul {% include 'AlmanachBundle:bricks/global:attributes.html.twig' with {
    classes: tabClasses,
    attributes: tabAttributes
} only %}>
    {% block tabTitles %}
        {{ tabTitles|raw }}
    {% endblock %}
</ul>
<div {% include 'AlmanachBundle:bricks/global:attributes.html.twig' with {
    classes: contentClasses
} only %}>
    {% block tabContent %}
        {{ tabContent|raw }}
    {% endblock %}
</div>